<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicTracker</title>
    </head>
<body>
<form action="/logout" method="post">
    <button type="submit">Log Out</button>
</form>

<form action="/" method="get">
    <input type="text" name="search" placeholder="Search"/>
    <button type="submit">Search</button>
</form>


<form action="/add-album" method="post">
    <input type="text" name="artist" placeholder="Artist"/>
    <input type="text" name="albumName" placeholder="Album"/>
    <input type="text" name="genre" placeholder="Genre"/>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" name="releaseDate" placeholder="Release Date"/>
    <button type="submit">Add Album</button>

</form>

<form action="/edit-album" method="post">
    <input type="number" name="editId" placeholder="#"/>
    <input type="text" name="editArtist" placeholder="Artist" />
    <input type="text" name="editAlbum" placeholder="Album" />
    <input type="text" name="editGenre" placeholder="Genre"/>
    <select name="editRating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="text" name="editReleaseDate" placeholder="Release Date" />
    <button type="submit">Edit Album</button>
</form>

<ol>
    {{#albums}}
    <li><b>{{artist}}</b>  {{albumName}} {{genre}} {{rating}} {{releaseDate}}

        <form action="/delete-album" method="post" style="display:inline-block">
            <input type="hidden" name="id" value="{{id}}"/>
            <button type="submit">Delete Album</button>
        </form>
    </li>
    {{/albums}}


</ol>



</body>
</html>